@import '~bpk-mixins';

.pages {
  &__site-map-item {
    padding-bottom: 1.5rem;
  }

  &__slider {
  }

  &__card {
      margin-bottom: 1.5rem;
  }

  &__site-map-tree {
    display: flex;
    height: 30rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include bpk-breakpoint-tablet {
      height: auto;
    }
  }

  &__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  &__link {
    text-decoration: none;

    &:hover {
      color: rgb(62,158,235);
      text-decoration: none;
    }
  }

  &__image {
      display: inline-block;
      margin-bottom: 1.5rem;
      width:80%;

    @include bpk-breakpoint-tablet {
      width:90%;
    }
  }

  &__banner {
      height: 30rem;
  }

  &__banner-image {
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 30rem;
  }

  &__banner-container {
      width: 100%;
      padding-top: 2rem;
      padding-left: 1rem;

    &--vertical-spread {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 28rem;
        padding: 0;
        text-align: center;
    }

    &--horizontal-spread {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
  }
}
