@import '~bpk-mixins';

.app {
    &__body{
      margin: 0;
    }

  @mixin centred {
    text-align: center;
  }

  &__download-button {
    color: $bpk-color-blue-500;
  }

  &__download-button-container {
    position: absolute;
    display: flex;
    z-index: 2;
    width: 12.5rem;
    height: 1.625rem;
    justify-content: center;
    align-items: stretch;
    transform: matrix(1, -1, 1, 1, -50, 10);
    background-color: $bpk-color-gray-900;
  }

  &__header {
    margin-bottom: $bpk-spacing-sm;
    padding: $bpk-spacing-xs 0;
    background-color: $bpk-color-gray-900;
    color: $bpk-color-white;

    @include centred;
    @include bpk-box-shadow-sm;

    @include bpk-breakpoint-mobile {
      padding: $bpk-spacing-base 0;
    }
  }

  &__big-picture-text {
    margin-top: 3rem;
    color: $bpk-color-gray-500;
    text-shadow: 0 0 1rem $bpk-color-gray-100;
  }

  &__background-duck {
    position: fixed;
    top: -1rem;
    left: -1rem;
    z-index: -1;
    width: 105%;
    height: 105%;
    background-image: url('https://c1.staticflickr.com/5/4344/35990455490_a009268ead_k.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1rem) brightness(.75);
  }

  &__cv-link {
    color: $bpk-color-blue-500;
    text-decoration: none;
  }
}
