@import '~bpk-mixins';

.footer {
  &__bar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content:right;
    padding-right: 0.5rem;

    @include bpk-breakpoint-tablet {
    }
  }

  &__nav-item {
      padding: 1.5rem;
      padding-left: 0;
    // display: inline-block;
    // width: 100%;
    // max-width: 2rem;
    // height: 100%;
    // max-height: 2rem;
    // filter: opacity(70%);

    // &:hover {
    //   filter: opacity(90%);
    // }
  }
}
