@import '~bpk-mixins';
@fontface {
  font-family: 'Bungee Inline', cursive;
  src: url('https://fonts.googleapis.com/css?family=Bungee+Inline')
}
@fontface {
  font-family: 'Neuton', serif;
  src: url('https://fonts.googleapis.com/css?family=Neuton')
}
@fontface {
  font-family: 'Quattrocento Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Quattrocento+Sans')
}
@fontface {
  font-family: 'Iceland', cursive;
  src: url('https://fonts.googleapis.com/css?family=Iceland')
}

.logo {
  &__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    @include bpk-breakpoint-tablet {
      align-items: center;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  &__logo--base {
    display: inline-block;
    font-size: 1.6rem;
    color: $bpk-color-gray-700;
    font-family: 'Quattrocento Sans', sans-serif;
  }

  &__logo--large {
    display: inline-block;
    font-size: 5.5rem;
    line-height: 6rem;
    color: rgb(62,158,235);
    font-weight: bold;
    font-family: 'Quattrocento Sans', sans-serif;
  }
}
