@import '~bpk-mixins';

.navigation-bar {
  &__bar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include bpk-breakpoint-tablet {
        //TODO CODE
    }
  }

  &__nav-item {
      padding: 0 1rem;
  }
}
