@import '~bpk-mixins';

.navigation-bar {
  &__bar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @include bpk-breakpoint-tablet {
    }
  }

  &__nav-item {
      padding: 0 1rem;
    // display: inline-block;
    // width: 100%;
    // max-width: 2rem;
    // height: 100%;
    // max-height: 2rem;
    // filter: opacity(70%);

    // &:hover {
    //   filter: opacity(90%);
    // }
  }
}
