@import '~bpk-mixins';

.navigation {
  &__container {
    width: 100%;
    padding: 1rem 0;

    @include bpk-breakpoint-tablet {
      display: flex;
      padding: 1rem;
      justify-content: center;
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;

    @include bpk-breakpoint-tablet {
      display: inline;
      width: auto;
      min-width: auto;
      max-width: auto;
      margin: 0 1rem;
    }
  }
}
