@import '~bpk-mixins';
@fontface {
  font-family: 'Bungee Inline', cursive;
  src: url('https://fonts.googleapis.com/css?family=Bungee+Inline')
}
@fontface {
  font-family: 'Neuton', serif;
  src: url('https://fonts.googleapis.com/css?family=Neuton')
}
@fontface {
  font-family: 'Quattrocento Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Quattrocento+Sans')
}
@fontface {
  font-family: 'Iceland', cursive;
  src: url('https://fonts.googleapis.com/css?family=Iceland')
}

.personal-details {
  &__container {
    display: flex;
    flex-direction: column;
    // min-width: 15rem;

    @include bpk-breakpoint-tablet {
      align-items: center;
    }
  }

  &__section {
    display: flex;
    padding: 1rem 0;
    flex-direction: column;
    font-family: 'Neuton', serif;
    max-width: 12.5rem;

    @include bpk-breakpoint-tablet {
        text-align: center;
      align-items: center;
    }
  }

  &__link {
    color: $bpk-color-gray-700;
    text-decoration: none;

    &:hover {
      color: rgb(62,158,235);
    }

  &--skyscanner-blue {
      color: $bpk-color-blue-500;
  }

  &--southampton-blue {
      color: rgb(0,92,133);
  }
  }
}
