@import '~bpk-mixins';
@fontface {
  font-family: 'Bungee Inline', cursive;
  src: url('https://fonts.googleapis.com/css?family=Bungee+Inline')
}
@fontface {
  font-family: 'Neuton', serif;
  src: url('https://fonts.googleapis.com/css?family=Neuton')
}
@fontface {
  font-family: 'Quattrocento Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Quattrocento+Sans')
}
@fontface {
  font-family: 'Iceland', cursive;
  src: url('https://fonts.googleapis.com/css?family=Iceland')
}

.personal-details {
  &__container {
    display: flex;
    flex-direction: column;
    font-family: 'Neuton', serif;
    max-width: 12.5rem;
    padding: 1rem 0;

    @include bpk-breakpoint-tablet {
      align-items: center;
      text-align: center;
    }

    &--centralised-spread {
        // flex-direction: row;
        justify-content: space-around;
        min-width: 100%;
      align-items: center;
      text-align: center;
    }
  }

  &__section {
    color: $bpk-color-gray-700;
    text-decoration: none;

    &--light {
        color: $bpk-color-gray-100;
    }
  }

  &__link {
    font-style: italic;
    color: $bpk-color-gray-700;
    text-decoration: none;

    &:hover {
      color: rgb(62,158,235);
      text-decoration: none;
    }

    &--light {
        color: $bpk-color-gray-100;
    }
  }
}
