@import '~bpk-mixins';
@fontface {
  font-family: 'Bungee Inline', cursive;
  src: url('https://fonts.googleapis.com/css?family=Bungee+Inline')
}
@fontface {
  font-family: 'Neuton', serif;
  src: url('https://fonts.googleapis.com/css?family=Neuton')
}
@fontface {
  font-family: 'Quattrocento Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Quattrocento+Sans')
}
@fontface {
  font-family: 'Iceland', cursive;
  src: url('https://fonts.googleapis.com/css?family=Iceland')
}

.section {
  &__section {
    width:100%;
    color: $bpk-color-gray-700;
    font-family: 'Neuton', serif;

    &--text {
    color: $bpk-color-gray-700;
      padding-bottom: .5rem;
      font-family: 'Quattrocento Sans', sans-serif;
    }
  }

  &__sub-section {
    width:100%;
    padding: 0 0 1rem;
    color: $bpk-color-gray-700;
    font-family: 'Neuton', serif;

    &--text {
    color: $bpk-color-gray-700;
      padding-bottom: .4rem;
      font-family: 'Quattrocento Sans', sans-serif;
    }
  }
}
