@import '~bpk-mixins';

.section {
  &__section {
    color: $bpk-color-gray-700;

    &--text {
      padding-bottom: 0.5rem;
    }
  }

  &__sub-section {
    padding: 0 0 1rem;
    color: $bpk-color-gray-700;

    &--text {
      padding-bottom: .4rem;
    }
  }
}
