@import '~bpk-mixins';

@fontface {
  font-family: 'Bungee Inline', cursive;
  src: url('https://fonts.googleapis.com/css?family=Bungee+Inline')
}
@fontface {
  font-family: 'Neuton', serif;
  src: url('https://fonts.googleapis.com/css?family=Neuton')
}
@fontface {
  font-family: 'Quattrocento Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Quattrocento+Sans')
}
@fontface {
  font-family: 'Tangerine', cursive;
  src: url('https://fonts.googleapis.com/css?family=Tangerine')
}
@fontface {
  font-family: 'Iceland', cursive;
  src: url('https://fonts.googleapis.com/css?family=Iceland')
}

.typography {
  &__main {
    color: $bpk-color-gray-700;
    font-family: 'Neuton', serif;
    text-decoration: none;
    width: 100%;
    padding-bottom: 1rem;
}
    
    &__text {
      color: $bpk-color-gray-700;
      font-family: 'Quattrocento Sans', sans-serif;
      text-decoration: none;

        &--subsection{
      padding-bottom: .5rem;
      text-decoration: none;
        }

        &--section {
      padding-bottom: .4rem;
      font-size: 2.2rem;
      line-height: 2.2rem;
      text-decoration: none;
        }

    }

      &--fancy {
        font-family: 'Tangerine', cursive;
      }

      &--no-padding {
        padding:0;
      }

      &--inline {
        width: auto;
      }

      &--link {
        text-decoration: none;
        display: inline-block;
        
     &:hover {
       color: rgb(62,158,235);
       text-decoration: none;
     }
      }

      &--light {
          color: white;
      }
  }
