@import '~bpk-mixins';

.app {

  @mixin centred {
    text-align: center;
  }

  &__download-button {
    margin-top: -1.3rem;
    padding: 0.3rem 0 0.3rem 0;
    background-color: $bpk-color-gray-700;
    width: 100%;
  }

  &__header {
    padding: $bpk-spacing-xs 0;
    background-color: $bpk-color-gray-900;
    color: $bpk-color-white;
    margin-bottom: $bpk-spacing-sm;

    @include centred

    @include bpk-box-shadow-sm;

    @include bpk-breakpoint-mobile {
      padding: $bpk-spacing-base 0;
    }
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    flex-direction: row;
  }

  &__big-picture-text {
    margin-top: 3rem;
    text-shadow: 0 0 8px rgba(0,0,0,.25);
    color: $bpk-color-white;
  }

  &__background-duck {
    background-image: url("https://c1.staticflickr.com/5/4344/35990455490_a009268ead_k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px) brightness(0.75);
    height: 105%;
    left: -5px;
    position: fixed;
    top: -5px;
    width: 105%;
    z-index: -1;
}
}
