@import '~bpk-mixins';

.App {
  @mixin full-width {
    width: 100%;
    margin-right: 0;
  }

  @mixin left-aligned {
    text-align: left;
  }

  @mixin centred {
    text-align: center;
  }

  @mixin max-width {
    max-width: 30rem;
  }

  &__big-picture-text {
    text-shadow: 0 0 8px rgba(0,0,0,.25);
    color: $bpk-color-white;

    @include centred;
  }

  &__background-duck {
    background-image: url("https://c1.staticflickr.com/5/4344/35990455490_a009268ead_k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px) brightness(0.75);
    height: 105%;
    left: -5px;
    position: fixed;
    top: -5px;
    width: 105%;
    z-index: -1;
  }

  &__header {
    margin: -10px;
    padding: $bpk-spacing-md 0;
    background-color: $bpk-color-gray-900;
    color: $bpk-color-white;
    margin-bottom: $bpk-spacing-sm;

    @include centred

    @include bpk-box-shadow-sm;

    @include bpk-breakpoint-mobile {
      padding: $bpk-spacing-base 0;
    }
  }

  &__main {
    padding: $bpk-spacing-base 0;
  }

  &__component {
    margin-right: $bpk-spacing-base;
    margin-bottom: $bpk-spacing-base;
  }

  &__button {
    margin-right: $bpk-spacing-base;
    margin-bottom: $bpk-spacing-base;

    @include bpk-breakpoint-mobile {
      @include full-width;
    }
  }

  &__text {
    margin-bottom: $bpk-spacing-sm;
  }
}
