@import '~bpk-mixins';

.nav-layout {
  &__main {
    display: flex;
    margin: 2rem;
    flex-direction: row;
    justify-content: center;
  }

  &__centre-column {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 65rem;
  }

  &__nav-col {
    overflow: hidden;
    width: 100%;
    max-width: 13rem;
    display: inline-block;
    // background-color: $bpk-color-blue-500;

    @include bpk-breakpoint-tablet {
      max-width: 0rem;
    }
  }

  &__content-col {
    overflow: hidden;
    min-width: 13rem;
    display: inline-block;
    flex-grow: 1;
    // background-color: $bpk-color-green-500;
  }
}
