@import '~bpk-mixins';

.nav-layout {
  &__main {
    display: flex;
    margin: 2rem;
    flex-direction: row;
    justify-content: center;
  }

  &__centre-column {
    display: flex;
    width: 100%;
    max-width: 65rem;
    flex-direction: row;

    @include bpk-breakpoint-tablet {
      flex-direction: column;
    }
  }

  &__nav-col {
    display: inline-block;
    width: 100%;
    max-width: 15rem;
    overflow: hidden;
    // background-color: blue;

    @include bpk-breakpoint-tablet {
      display: flex;
      max-width: 100%;
      flex-flow: wrap;
      flex-direction: row;
      justify-content: center;
    }
  }

  &__content-col {
    display: flex;
    display: inline-block;
    width: 100%;
    min-width: 15rem;
    padding: 1rem;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
  }
}
