@import '~bpk-mixins';

.navigation {
  &__container {
    margin: 1.5rem 0;

    @include bpk-breakpoint-tablet {
      margin: 1.5rem;
    }
  }

  &__link {
    display: inline-block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;

    @include bpk-breakpoint-tablet {
      display: inline;
      width: auto;
      min-width: auto;
      max-width: auto;
      margin: 1rem;
    }
  }
}
