@import '~bpk-mixins';

.personal-details {
  &__container {
    min-width: 15rem;
  }

  &__section {
    display: flex;
    padding: 1rem 0;
    flex-direction: column;

    @include bpk-breakpoint-tablet {
      align-items: center;
    }
  }

  &__link {
    color: $bpk-color-gray-700;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
