@import '~bpk-mixins';

.profile-pic {
  &__container {
    width: 13rem;
    height: 13rem;
    border-radius: .5rem;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
